//#include <dt-bindings/zmk/mouse.h>

#include <behaviors/rgbled_widget.dtsi>
#include <behaviors/naginata.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define MOUSE    1
#define LOWER    2
#define RAISE    3
#define ADJUST   4
#define SCROLL   2

// スクロール量の設定

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };
};

/ {
    behaviors {
        // スクロール用のbehaviorの設定

        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>; // スクロールのタップ時間
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LALT LANG2>, <&mo RAISE>, <&mo MOUSE>;
        };

        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt RCTL LANG1>, <&mo RAISE>, <&mo MOUSE>;
        };

        // Customed Hold-Tap for SandS

        SandS: SandS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <500>;
            quick-tap-ms = <500>;
            bindings = <&kp>, <&kp>;

            display-name = "SandS";
        };

        rclk_wds: rclk_wds {
            compatible = "zmk,behavior-hold-tap";
            label = "RCLK_WDS";
            bindings = <&wds>, <&rclk>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <67 76 49>;
        };

        ten_maru: ten_maru {
            compatible = "zmk,behavior-tap-dance";
            label = "TEN_MARU";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp PERIOD>;
        };

        f7_f8: f7_f8 {
            compatible = "zmk,behavior-tap-dance";
            label = "F7_F8";
            #binding-cells = <0>;
            bindings = <&kp F7>, <&kp F8>, <&kp F9>;
        };

        kagikakko: kagikakko {
            compatible = "zmk,behavior-tap-dance";
            label = "KAGIKAKKO";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp BSLH>;
        };

        yokobounado: yokobounado {
            compatible = "zmk,behavior-tap-dance";
            label = "YOKOBOUNADO";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PLUS>, <&kp LS(INT_RO)>;
        };

        kakko: kakko {
            compatible = "zmk,behavior-tap-dance";
            label = "KAKKO";
            #binding-cells = <0>;
            bindings = <&lt 5 LS(N8)>, <&kp LS(N9)>;
        };

        hatena: hatena {
            compatible = "zmk,behavior-tap-dance";
            label = "HATENA";
            #binding-cells = <0>;
            bindings = <&kp QUESTION>, <&kp LS(NUMBER_1)>;
        };

        koron: koron {
            compatible = "zmk,behavior-tap-dance";
            label = "KORON";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp SEMICOLON>;
        };

        suranaka: suranaka {
            compatible = "zmk,behavior-tap-dance";
            label = "SURANAKA";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp LS(INT_RO)>;
        };

        doruatto: doruatto {
            compatible = "zmk,behavior-tap-dance";
            label = "DORUATTO";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_4)>, <&kp LEFT_BRACKET>;
        };

        tyontyon: tyontyon {
            compatible = "zmk,behavior-tap-dance";
            label = "TYONTYON";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp LS(NUMBER_2)>;
        };

        ennzan: ennzan {
            compatible = "zmk,behavior-tap-dance";
            label = "ENNZAN";
            #binding-cells = <0>;
            bindings =
                <&kp COLON>,
                <&kp MINUS>,
                <&kp DOUBLE_QUOTES>,
                <&kp SLASH>;
        };

        alttab: alttab {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ALTTAB";
            #sensor-binding-cells = <0>;
            bindings = <&kp LA(LS(TAB))>, <&kp LA(TAB)>;

            tap-ms = <3>;
        };

        excel: excel {
            compatible = "zmk,behavior-sensor-rotate";
            label = "EXCEL";
            #sensor-binding-cells = <0>;
            bindings = <&kp LC(PAGE_DOWN)>, <&kp LC(PAGE_UP)>;

            tap-ms = <3>;
        };

        pdf: pdf {
            compatible = "zmk,behavior-sensor-rotate";
            label = "PDF";
            #sensor-binding-cells = <0>;
            bindings = <&kp LC(LS(TAB))>, <&kp LC(TAB)>;

            tap-ms = <3>;
        };
    };
};

&sl { release-after-ms = <250>; }; // time needed for double click (for mkp_exit_AML)
/ {
    macros {
        // When in AML, move to default layer when key (except mouse button) pressed

        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&tog MOUSE &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_layer_0";
        };

        // When LCLK pressed, exit AML (after 250ms cause by sticky layer

        mkp_exit_AML: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl MOUSE>;

            label = "MKP_EXIT_AML";
        };

        rclk: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>;
            label = "NEW_MACRO";
        };

        wds: wds {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_WIN>;
            label = "WDS";
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <75 74>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            sensor-bindings = <&alttab>;
            bindings = <
&kp GRAVE  &kp N1      &kp F2   &ennzan   &tyontyon     &doruatto                             &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                            &f7_f8       &suranaka       &koron     &kakko     &yokobounado  &hatena
&kp TAB    &kp Q       &kp W    &kp E     &kp R         &kp T                                 &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                          &kp Y        &kp U           &kp I      &kp O      &kp P         &kagikakko
&kp CAPS   &kp A       &kp S    &kp D     &kp F         &kp G               &lt 2 NUMBER_1    &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp BACKSPACE         &kp H        &lt 3 J         &kp K      &lt 3 L    &ten_maru     &kp UP_ARROW
&kp LSHFT  &lt 5 Z     &lt 6 X  &kp C     &kp V         &kp B               &lt 1 N0          &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &lt 1 B               &lt 5 N      &mt LEFT_WIN M  &mkp LCLK  &mkp RCLK  &kp LEFT      &kp RIGHT
&kp LCTRL  &kp C_MUTE           &kp LWIN  &kp LEFT_ALT  &SandS LSHFT SPACE  &lt 6 ENTER                                                               &mt LEFT_SHIFT SPACE  &lt 5 ENTER                                                      &kp DOWN
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&to_layer_0 ESC     &to_layer_0 N1  &to_layer_0 N2  &to_layer_0 N3  &to_layer_0 N4  &to_layer_0 N5                     &trans  &trans  &trans  &trans            &kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp COLON          &kp KP_NUMLOCK
&to_layer_0 TAB     &to_layer_0 Q   &to_layer_0 W   &to_layer_0 E   &to_layer_0 R   &to_layer_0 T                      &trans  &trans  &trans  &trans            &none      &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp MINUS          &none
&to_layer_0 CAPS    &to_layer_0 A   &mkp RCLK       &mkp MCLK       &mkp LCLK       &msc SCRL_UP    &msc SCRL_LEFT     &trans  &trans  &trans  &trans    &none   &none      &kp N7        &kp N8        &kp N9          &kp DOUBLE_QUOTES  &none
&to_layer_0 LSHIFT  &to_layer_0 Z   &to_layer_0 X   &mkp MB4        &mkp MB5        &msc SCRL_DOWN  &msc SCRL_RIGHT    &trans  &trans  &trans  &trans    &none   &none      &kp PERIOD    &kp N0        &kp UNDERSCORE  &kp SLASH          &none
&trans              &trans                          &trans          &trans          &trans          &trans                                               &trans  &trans                                                                    &none
            >;
        };

        lower_layer {
            display-name = "Lower";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans  &kp F1     &kp F2   &kp F3  &kp F4  &kp F5             &trans  &trans  &trans  &trans            &none   &none  &none  &none  &none  &none
&trans  &kp F6     &kp F7   &kp F8  &kp F9  &kp F10            &trans  &trans  &trans  &trans            &none   &none  &none  &none  &none  &none
&trans  &kp F11    &kp F12  &none   &none   &none    &none     &trans  &trans  &trans  &trans    &none   &none   &none  &none  &none  &none  &none
&trans  &none      &none    &none   &none   &none    &none     &trans  &trans  &trans  &trans    &none   &none   &none  &none  &none  &none  &none
&trans  &kp RSHFT           &trans  &trans  &trans   &trans                                      &trans  &trans                              &studio_unlock
            >;
        };

        raise_layer {
            display-name = "Raise";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = <
&kp ESCAPE  &none  &none  &none   &none   &none             &trans  &trans  &trans  &trans                   &none            &none              &none         &none      &none           &none
&trans      &none  &none  &none   &none   &none             &trans  &trans  &trans  &trans                   &kp ESCAPE       &none              &none         &none      &none           &none
&trans      &none  &none  &none   &none   &none   &none     &trans  &trans  &trans  &trans    &kp DEL        &kp LC(TAB)      &kp LC(PAGE_UP)    &kp LA(LEFT)  &trans     &kp LA(RIGHT)   &msc SCRL_UP
&trans      &none  &none  &none   &none   &none   &none     &trans  &trans  &trans  &trans    &kp LC(F4)     &kp LC(LS(TAB))  &kp LC(PAGE_DOWN)  &mkp LCLK     &mkp RCLK  &msc SCRL_LEFT  &msc SCRL_RIGHT
&trans      &none         &trans  &trans  &trans  &trans                                      &kp BACKSPACE  &trans                                                                       &msc SCRL_DOWN
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4            &trans  &trans  &trans  &trans              &bt BT_CLR_ALL  &none  &none  &none  &none  &none
&trans  &none         &none         &none         &none         &none                   &trans  &trans  &trans  &trans              &bt BT_CLR      &none  &none  &none  &none  &none
&trans  &none         &none         &none         &none         &none         &none     &trans  &trans  &trans  &trans    &ind_bat  &out OUT_TOG    &none  &none  &none  &none  &none
&trans  &none         &none         &none         &none         &none         &none     &trans  &trans  &trans  &trans    &ind_con  &studio_unlock  &none  &none  &none  &none  &none
&trans  &kp C_MUTE                  &trans        &trans        &trans        &trans                                      &trans    &trans                                      &trans
            >;
        };

        extra1 {
            display-name = "Extra1";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans               &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans               &kp T   &kp R   &kp E   &kp W   &kp Q   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &kp GRAVE  &kp G   &kp F   &kp D   &kp S   &kp A   &none
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &kp B      &trans  &kp V   &kp C   &kp X   &kp Z   &none
&trans  &trans          &trans  &trans  &trans  &trans                                      &trans     &trans                                  &none
            >;

            sensor-bindings = <&excel>;
        };

        extra2 {
            display-name = "Extra2";
            bindings = <
&kp UNDERSCORE  &kp NON_US_BACKSLASH  &kp LESS_THAN   &kp GREATER_THAN  &kp QUESTION  &kp PLUS            &trans  &trans  &trans  &trans               &kp EXCLAMATION  &kp DOUBLE_QUOTES     &kp HASH               &kp DOLLAR         &kp PERCENT       &kp AMPERSAND
&kp TILDE       &kp DOUBLE_QUOTES     &kp UNDERSCORE  &kp BSLH          &none         &none               &trans  &trans  &trans  &trans               &kp SQT          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS          &kp EQUAL         &kagikakko
&trans          &trans                &trans          &trans            &trans        &trans    &trans    &trans  &trans  &trans  &trans    &kp TILDE  &kp BSLH         &kp PIPE              &kp AT_SIGN            &kp GRAVE          &kp LEFT_BRACKET  &kp LEFT_BRACE
&trans          &trans                &trans          &trans            &trans        &trans    &trans    &trans  &trans  &trans  &trans    &none      &kp PLUS         &kp COLON             &kp ASTERISK           &kp RIGHT_BRACKET  &kp RIGHT_BRACE   &kp SLASH
&trans          &trans                                &trans            &trans        &trans    &trans                                      &trans     &trans                                                                                             &trans
            >;

            sensor-bindings = <&pdf>;
        };
    };
};
